/*----------FLEXBOX----------*/

.container{
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.box{
    background: white;
    width: 250px;
    height: 380px;
    border-radius: 6px;
}

body{
    margin: 0px;
}

#rows{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*----------FLEXBOX----------*/

/*-----------MOBILE----------*/

/*----------PATTERN----------*/

button{
    margin: 0.2rem 0.1rem;
    padding: 1rem;
    width: 3.4rem;
}

#row4{
    align-self: flex-start;
    margin: 0rem 0.25rem;
}

#row5{
    align-self: flex-start;
    margin: 0rem 0.25rem;
}

/*----------PATTERN----------*/

/*----------DISPLAY----------*/
#display{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 0.5rem;
    margin: 0.35rem;
    border-radius: 6px;
}
#date{
    text-align: right;
    margin: 0%;
}
#time{
    text-align: left;
    margin: 0;
    width: 0px;
    height: 0px;    
}
#op{
    font-size: 40px;
    text-align: right;
    margin: 0;
}
/*----------DISPLAY----------*/

/*-----------BUTTON----------*/
button#sum{
    padding: 2.75rem 1.35rem;
    position: absolute;
    margin: 0.2rem 0.35rem;
}

button{
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
}
/*-----------BUTTON----------*/

/*-----------MOBILE----------*/